<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid</title>
    <link rel="stylesheet" href="{% static 'game/style.css' %}">
</head>
<body>
    <div class="grid">
        {% for row in xrange %}
            <div class="row">
                {% for column in xrange %}
                    {% with row=row column=column %}
                        <div class="cell {% if row in randomRows and column in randomColumns %} random{% endif %}" id="cell_{{ row }}_{{ column }}"></div>
                    {% endwith %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div class="message-container">
        <div id="message"></div>
        <button class="btn" id="restart-button" style="display: none;">Restart</button>
    </div>
    <script src="{% static 'game/script.js' %}"></script>
</body>
</html>
