<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid</title>
    <link rel="stylesheet" href="{% static 'game/style.css' %}">
</head>
<body>
    <div class="grid">
        {% for row in xrange %}
            <div class="row">
                {% for column in xrange %}
                    <div class="cell" id="cell_{{ row }}_{{ column }}"></div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <script src="{% static 'game/script.js' %}"></script>
</body>
</html>
